<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!-- https://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- https://logback.qos.ch/manual/appenders.html#SizeAndTimeBasedRollingPolicy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>1</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>

        <!-- https://logback.qos.ch/manual/encoders.html#JsonEncoder -->
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder" />
    </appender>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="FILE_JSON"/>
        </root>
    </springProfile>
</configuration>